$bgPrimary: linear-gradient(0deg, #FFFFFF 25% , #C0D4EC 100%);
$bgSecondary: #FFFFFF;
$bgTertiary: #EF4444;
$bgQuaternary: #DCFCE7;
$bgSenary: #F3F4F6;

$bgBtn: #000000;
$bgInactive: #F0F0F0;
$bgDropdown: #333333;
$bgPagination: #E7E7E7;
$borders: #E7E7E7;

$textPrimary1: #333333;
$textPrimary2: #666666;
$textPrimary3: #999999;
$textSecondary: #FFFFFF;
$textTertiary: #5c1111;
$textQuaternary: #115C40;
$textQuinary: #1F69EA;

$textError: #ff0000;
$textLink: #1F69EA;

$hoverBgTertiary: #EF444466;
$hoverDropdown: #E7E7E7;
$hoverBtn: #000000BB;
$hoverPagination: #F0F0F0;

$activeLink: #E7E7E7;


