@import "@/ui/themes/Variables.scss";

.container {
  padding: 1rem;
  gap: 1rem;
  background: $bgSenary;
  min-height: 100%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .div{
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bgSecondary;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}