@import "@/ui/themes/Variables.scss";

.sidebarContainer {
    width: 20%;
    height: 100%;
    background-color: $bgSecondary;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 60px;
        width: 100%;
    }

    .mainTitle {
        padding: 10px;
        color: $textPrimary1;
    }

    .linksContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        height: 100%;
        gap: 10px;
    
        > * {
            cursor: pointer;
            width: 100%;
            padding-left: 10px;
        }
    
        @media (max-width: 768px) {
            gap: 10px;
        }
    }
}