@import "@/ui/themes/Variables.scss";

.onlineLayout {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .dashPages {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}