@import "@/ui/themes/Variables.scss";

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .buttonsContainer {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .primaryBtn {
        color: $textPrimary1;
        border-radius: 5px;
    }

    .secondaryBtn {
        color: $textSecondary;
        background: $bgBtn;
        border-radius: 5px;
    }
}