@import "@/ui/themes/Variables.scss";

.textarea {
    width: 100%;  
    height: 80px;        
    padding: 10px;        
    border: 1px solid $borders;
    border-radius: 5px;
    
    &:focus {
        outline: none;          
    }
    
    &:disabled {
        background-color: $bgInactive;
        cursor: not-allowed;    
    }
}