@import "@/ui/themes/Variables.scss";

.divButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;

  .buttonEdit {
    padding: 8px;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 100px;
    background-color: $bgSecondary;
    color: $textPrimary1;
    border: 1px solid $borders;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonDelete {
    padding: 8px;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 100px;
    background-color: $bgTertiary;
    color: $textSecondary;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
